interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_hallenbad_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.478657, 47.326038,
        8.560946, 47.411151],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.560139,47.372039],\"type\":\"Point\"},\"id\":\"poi_hallenbad_view.1\",\"properties\":{\"adr_inter\":\"\",\"adresse\":\"Hofstrasse
        56\",\"adrzus_int\":\"\",\"behindertenparkplatz\":\"-1\",\"bemerkung\":\"Telefonische
        oder schriftliche Ausk\xFCnfte \xFCber Fundsachen sind leider nicht m\xF6glich.
        Bitte wenden Sie sich m\xF6glichst umgehend an unser Personal im Bad.\",\"ccmail\":null,\"da\":\"Sportamt\",\"datum\":\"202607060851\",\"datum_cms\":null,\"dep\":\"Schul-
        und Sportdepartement (SSD)\",\"editor\":\"imorap\",\"erforderlichedokumente\":null,\"fax\":null,\"geometrie_gdo\":null,\"hausnummer\":\"56\",\"hindernisfreiheit\":\"0__https://www.ginto.guide/entries/2ee11bef-fb94-4e33-a230-3c997bbb5c5c\",\"infrastruktur\":\";25m
        Mehrzweckbecken mit Hubboden und Sprungbrett 1m, Sonnenterrasse\",\"isbetriebsferien_gebaeude\":\"0\",\"isbetriebsferien_schalter\":\"0\",\"kategorie\":\"Hallenbad\",\"mail\":\"badeanlagen@zuerich.ch\",\"name\":\"Hallenbad
        Bungertwies\",\"namenzus\":null,\"objectid\":1,\"oeffnungszeiten_gebaeude_di\":\"n.a.\",\"oeffnungszeiten_gebaeude_do\":\"n.a.\",\"oeffnungszeiten_gebaeude_fr\":\"n.a.\",\"oeffnungszeiten_gebaeude_mi\":\"n.a.\",\"oeffnungszeiten_gebaeude_mo\":\"n.a.\",\"oeffnungszeiten_gebaeude_sa\":\"n.a.\",\"oeffnungszeiten_gebaeude_so\":\"n.a.\",\"oeffnungszeiten_schalter_di\":\"n.a.\",\"oeffnungszeiten_schalter_do\":\"n.a.\",\"oeffnungszeiten_schalter_fr\":\"n.a.\",\"oeffnungszeiten_schalter_mi\":\"n.a.\",\"oeffnungszeiten_schalter_mo\":\"n.a.\",\"oeffnungszeiten_schalter_sa\":\"n.a.\",\"oeffnungszeiten_schalter_so\":\"n.a.\",\"ort\":\"Z\xFCrich\",\"plz\":\"8032\",\"poi_id\":\"hb002\",\"postadresse\":\"\",\"publish_internet\":\"1\",\"strasse\":\"Hofstrasse\",\"suchen\":\"Hallenb\xE4der,
        Bad, B\xE4der, Schwimmbad, Schwimmb\xE4der, Badeanlage\",\"tel\":\"+41 44
        413 55 70\",\"tel2\":null,\"www\":\"https://www.stadt-zuerich.ch/de/stadtleben/sport-und-erholung/sport-und-badeanlagen/hallenbaeder/bungertwies.html\",\"zahlungsmittel_internet\":\"NULL;NULL;\",\"zahlungsmittel_schalter\":\"NULL;NULL;\",\"zahlungsmittel_telefon\":\"NULL;NULL;\",\"zvv_label\":\"Hofstrasse
        56\",\"zvv_link\":\"https://www.zvv.ch/de/fahrplan-und-informationen/fahrplan.html?tolat=47.3720358449829&tolon=8.5601377036509&toname=Z\xFCrich,
        Hofstrasse 56\"},\"type\":\"Feature\"}\n ,{\"geometry\":{\"coordinates\":[8.532973,47.372282],\"type\":\"Point\"},\"id\":\"poi_hallenbad_view.2\",\"properties\":{\"adr_inter\":\"\",\"adresse\":\"Sihlstrasse
        71\",\"adrzus_int\":\"\",\"behindertenparkplatz\":\"-1\",\"bemerkung\":\"Telefonische
        oder schriftliche Ausk\xFCnfte \xFCber Fundsachen sind [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_freibad_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.472961, 47.366427,
        8.577865, 47.424276],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.501339,47.38025],\"type\":\"Point\"},\"id\":\"poi_freibad_view.1\",\"properties\":{\"adr_in[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_flussbad_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.488681, 47.368463,
        8.542616, 47.399169],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.532594,47.371269],\"type\":\"Point\"},\"id\":\"poi_flussbad_view.1\",\"properties\":{\"adr[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_seebad_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.491539, 47.340763,
        8.55919, 47.430848],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.557555,47.352401],\"type\":\"Point\"},\"id\":\"poi_seebad_view.1\",\"properties\":{\"adr_inte[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_schulschwimmanlage_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.486926, 47.345284,
        8.597688, 47.423508],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.514245,47.423271],\"type\":\"Point\"},\"id\":\"poi_schulschwimmanlage_view.1\",\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_planschbecken_view&OUTPUTFORMAT=application%2Fjson
  response:
    body:
      string: "{\"type\": \"FeatureCollection\",\n \"bbox\": [ 8.485667, 47.359756,
        8.559029, 47.415671],\n \"features\": [\n  {\"geometry\":{\"coordinates\":[8.512742,47.388168],\"type\":\"Point\"},\"id\":\"poi_planschbecken_view.1\",\"propertie[...]
