interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_hallenbad_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_hallenbad_view.1\",\n   \"geometry\"\
        : {\n    \"type\": \"Point\",\n    \"coordinates\": [\n     8.560139,\n  \
        \   47.372039\n    ]\n   },\n   \"properties\": {\n    \"name\": \"Hallenbad\
        \ Bungertwies\",\n    \"namenzus\": null,\n    \"strasse\": \"Hofstrasse 56,\
        \ 8032 Zürich\",\n    \"hausnummer\": null,\n    \"plz\": null,\n    \"ort\"\
        : null,\n    \"www\": \"https://www.stadt-zuerich.ch/de/stadtleben/sport-und-erholung/sport-und-badeanlagen/hallenbaeder/bungertwies.html\"\
        ,\n    \"tel\": \"+41 44 413 55 70\",\n    \"poi_id\": null,\n    \"kategorie\"\
        : null,\n    \"infrastruktur\": \"25m Mehrzweckbecken mit Hubboden und Sprungbrett\
        \ 1m, Sonnenterrasse\",\n    \"bemerkung\": null\n   }\n  },\n  {\n   \"type\"\
        : \"Feature\",\n   \"id\": \"poi_hallenbad_view.2\",\n   \"geometry\": {\n\
        \    \"type\": \"Point\",\n    \"coordinates\": [\n     8.532973,\n     47.372282\n\
        \    ]\n   },\n   \"properties\": {\n    \"name\": \"Hallenbad City\",\n \
        \   \"namenzus\": null,\n    \"strasse\": \"Sihlstrasse 71, 8001 Zürich\"\
        ,\n    \"hausnummer\": null,\n    \"plz\": null,\n    \"ort\": null,\n   \
        \ \"www\": \"https://www.stadt-zuerich.ch/de/stadtleben/sport-und-erholung/sport-und-badeanlagen/hallenbaeder/city.html\"\
        ,\n    \"tel\": \"+41 44 413 56 00\",\n    \"poi_id\": null,\n    \"kategorie\"\
        : null,\n    \"infrastruktur\": \"Schwimmerbecken 50 x 15 m (6 Bahnen) 28°C,\
        \ Nichtschwimmerbecken 10,5 x 7 m 30°C, Variobecken mit Hubboden 16,66 x 8\
        \ m (4 Bahnen) 30°C, Turnhalle 44 x 12 m, trennbar in 2 gleiche Hälften, gemischte\
     [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_freibad_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_freibad_vie[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_flussbad_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_flussbad_v[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_seebad_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_seebad_view.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_schulschwimmanlage_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.ogd.stadt-zuerich.ch/wfs/geoportal/Sport?SERVICE=WFS&REQUEST=GetFeature&VERSION=1.1.0&TYPENAME=poi_planschbecken_view&OUTPUTFORMAT=application%2Fjson
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      string: "{\n \"type\": \"FeatureCollection\",\n \"features\": [\n  {\n   \"\
        type\": \"Feature\",\n   \"id\": \"poi_planschbecken_view.1\",\n   \"geometry\"\
        : {\n    \"type\": \"Point\",\n    \"coordinates\": [\n     8.512742,\n  \
        \   47.388168\n    ]\n   },\n   \"properties\": {\n    \"name\": \"Planschbecken\
        \ Pfingstweid\",\n    \"namenzus\": null,\n    \"strasse\": null,\n    \"\
        hausnummer\": null,\n    \"plz\": null,\n    \"ort\": null,\n    \"www\":\
        \ \"https://www.stadt-zuerich.ch/de/stadtleben/sport-und-erholung/sport-und-badeanlagen/sommerbaeder/planschbecken.html\"\
        ,\n    \"tel\": null,\n    \"poi_id\": null,\n    \"kategorie\": null,\n \
        \   \"infrastruktur\": \"NULL\",\n    \"bemerkung\": null\n   }\n  },\n  {\n\
        \   \"type\": \"Feature\",\n   \"id\": \"poi_planschbecken_view.2\",\n   \"\
        geometry\": {\n    \"type\": \"Point\",\n    \"coordinates\": [\n     8.558334,\n\
        \     47.381961\n    ]\n   },\n   \"properties\": {\n    \"name\": \"Planschbecken\
        \ Schlössliareal\",\n    \"namenzus\": null,\n    \"strasse\": \"8044 Zürich\"\
        ,\n    \"hausnummer\": null,\n    \"plz[...]
